<!doctype html>
<html>
<head>
    <!-- <link rel="stylesheet" type="text/css" href="styles.css"> 
    <link rel="stylesheet" href="/css/styles.css"> -->
    <style>
        .error {
            color: red;
    }
    </style>
</head>

<body> 
    <nav>   
        <a href="/">HOME</a>     |
        <a href="/blog">BLOGS</a>     |
        <a href="/newpost">ADD NEW BLOG</a>     |
        <a href="/signup">CREATE ACCOUNT</a>     |
        <a href="/login">LOGIN</a>     |
        <a href="/logout">LOGOUT</a>     |
    <!--display: block;-->
    </nav> 

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}   

    {% block content %}                                 <!-- place code to define block/extension points -->
    {% endblock %} 

</body>
</htmly